.WorkplacePage {
    position: relative;
    padding: 20px;
  }
  
  .Content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .Section {
    margin-bottom: 40px;
  }
  
  .Title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .Description {
    font-size: 16px;
  }
  
  .BulletPoints {
    font-size: 16px;
  }
  
  .CircleContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .Circle {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: #F8C8DC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px
  }
  
  .HeaderImage {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* Adjust the size as needed */
    height: auto;
  }
  